<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chyba 400 - Bad request</title>
  </head>
  <body>
    <h1>Chyba 400 - Bad request</h1>
    <p>Nelze aktualizovat TODO s prázdným názvem. Zadejte prosím platný název.</p>
    <a href="/detail-todo/<%= todo.id %>">Zpět na detail</a>
  </body>
</html>