<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDos!</title>
  </head>
  <body>
    <% if (user) { %>
      <%= user.username %>
    <% } else { %>
      <a href="/register">Registrace</a>
    <% } %>

    <hr>

    <h1>ToDos!</h1>

    <a href="/">Zobrazit vše</a>
    <a href="?done=false">Pouze nesplněné</a>
    <a href="?done=true">Pouze splněné</a>

    <div id="todos"><%- include('_todos') %></div>

    <form method="post" action="/new-todo">
      <input type="text" name="title">
      <input type="date" name="deadline" >
      <button type="submit">Přidat TODO</button>
    </form>

    <script>
      const ws = new WebSocket('ws://localhost:3000')

      ws.addEventListener('message', (ev) => {
        const message = JSON.parse(ev.data)
        if (message.type === 'todos') {
          document.getElementById('todos').innerHTML = message.html
        }
      })
    </script>
  </body>
</html>
