<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Přihlášení</title>
</head>
<body>
  <h1>Přihlášení</h1>

  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Uživatelské jméno">
    <input type="password" name="password" placeholder="Heslo">
    <button type="submit">Přihlásit se</button>
  </form>

  <hr>

  <a href="/">Zpět na ToDočka</a>
</body>
</html>
